<html>
<head>
<title>Administrator</title>
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="javascripts/shop.js"></script>
</head>
<body  ng-app="shopping" ng-controller="MainCtrl">
<div style="margin-left: 5em;">
<h1> Store Management Interface </h1>
<form ng-submit="addProduct()">
  <input type="text" ng-model="formProductName">Product Name</input><br>
    <input type="text" ng-model="formPrice">Price</input><br>
      <input type="text" ng-model="formPictureURL">Picture URL</input><br>


    <button type="submit">Add Product</button>
</form>

<h1>Current Products</h1>
<div ng-repeat="product in products | orderBy:['name']">
<span class="glyphicon glyphicon-remove" ng-click="delete(product)"></span>
  {{product.name}} - price {{product.price}} - ordered {{product.purchases}} <img src="{{product.picture}}">
</div>
</body>
</html>